$white					: #F8F8F8;		//jcs
$dblack				: #030200;		//jcs
$gold					: #BA9E76;		//jcs
$black					: #222222;		//jcs
$lightgray      			: #819090;		//solarized
$gray           			: #708284;		//solarized
$mediumgray     		: #536870;		//solarized
$darkgray       			: #475B62;		//solarized

$lightred				: #CE6A4D;		//jcs
$red					: #F36563;		//jcs
$strongred      			: #D11C24;		//solarized
$lighterorange			: #FAB737;		//jcs
$lightorange			: #CA7740;		//jcs
$orange         			: #BD3613;		//solarized
$paleryellow    		: #FCF4DC;		//solarized
$paleyellow     			: #EAE3CB;		//solarized
$yellow         			: #A57706;		//solarized
$strongyellow			: #FBD645;		//jcs
$lightgreen				: #90B4B0;		//jcs
$green	 				: #6EBB5C;		//jcs
$darkgreen      		: #738A05;		//solarized
$cyan           			: #259286;		//solarized
$lightblue				: #7587A6;		//jcs
$blue         				: #2176C7;		//solarized
$strongblue			: #0076AA;		//jcs
$strongerblue			: #28E6F7;		//jcs
$darkblue       			: #0A2933;		//solarized
$darkerblue     		: #042029;		//solarized
$pink           			: #C61C6F;		//solarized
$lightpurple			: #9B859D;		//jcs
$purple         			: #833C7E;		//solarized
$darkpurple			:#595AB7;		//jcs
$strongpurple   		: #EC77E6;		//jcs

$logoyellow			:#D6BE00;		//jcs
$logoorange			:#C68900;		//jcs
$logored				:#B44334;		//jcs
$logopurple			:#7D3E7D;		//jcs
$logoblue				:#00ADE5;		//jcs